

{% extends "./base/head.html" %}

{%block head-bokeh%}
<link href="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css" rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
{% endblock %}

{% load static %}

{% block head1 %}
<link rel="stylesheet" type="text/css" href="{% static 'counter/style.css' %}">
{% endblock %}

{% block nav-data %}<strong class="nav-active"> Data analysis basics </strong>{% endblock %}



{% include "./base/footer.html" %}

{% block body1 %}
<div class="be-center">
    <p>Data Analysis Visualization</p>

    <a href="{% url 'counter:monthly' %}"><button class="btn btn-warning">Monthly</button></a>

    <a href="{% url 'counter:daily' %}"><button class="btn btn-success">Daily</button></a>

    <a href="{% url 'counter:hourlyReq' %}"><button class="btn btn-primary">Hourly</button></a>

    <a href="{% url 'counter:lunchTime' %}"><button class="btn btn-secondary">Lunch Time</button></a>
</div>
{% endblock %}

<div class="row">
    {% block body2 %}
        {% if div %}
            <div class="col d-flex justify-content-center">
                {{div|safe}}
            </div>
        {% endif %}
        <div class="col d-flex justify-content-center">
            {% if dailyAvg %}
                <p>
                    <span class="badge badge-info">Average&nbsp;</span> {{dailyAvg|safe}}&nbsp;
                </p>
            {% endif %}
            {% if dailyMax %}
                <P>
                    <span class="badge badge-success">Max&nbsp;</span> {{dailyMax|safe}}&nbsp;
                </P>
            {% endif %}
            {% if dailyMin %}
                <p>
                    <span class="badge badge-warning">Min&nbsp;</span> {{dailyMin|safe}}&nbsp;
                </p>
            {% endif %}
        </div>
    {% endblock %}
</div>

    
    {% block body3 %}
        {% if div2 %}
            <div class="row d-flex justify-content-center">
                {{div2|safe}}
            </div>
        {% endif %}
    {% endblock %}