

{% extends "./base/head.html" %}


{% if script == False %}
    {% block head-bokeh %} <title>script false</title> {% endblock %}
{% endif %}
{% block nav-data %}<strong class="nav-active"> Data analysis basics </strong>{% endblock %}


{% include "./base/footer.html" %}

{% block body1 %}
Data Analysis
<br>
<a href="{% url 'daily' %}">Daily</a>
<br>
<a href="{% url 'hourly' %}">Hourly</a>
<br>
{% if dates%}
        <ul>
        {% for date in dates %}
            <li><a href="#">{{ date.record }}</a></li>
        {% endfor %}
        </ul>
{% endif %}
{% endblock %}

{% block body2 %}
    {% if div %}
        {{div|safe}}
    {% endif %}
{% endblock %}
{% block body3 %}
    {% if sample %}
        {{sample|safe}}
    {% endif %}
{% endblock %}