
{% extends "./base/head.html" %}


{% block nav-index %}<strong class="nav-active">Home</strong>{% endblock %}

{% block body1 %}

<h3>IoT project campus cafeteria people counter</h3>


{% endblock %}

{% block body2 %}

Current Web of Kotkanpoika<br>
Opening hours Kotkanpoika open<br>
mon - thu  8.45 - 14.30, fri 8.45 - 13.00<br>
<img style="-webkit-user-select: none;margin: auto;" src="http://172.20.248.130:8081/" width="477" height="357">


{% endblock %}


{% include "./base/footer.html" %}