
{% extends "./data.html" %}

{% block body2 %}
<div class="be-center">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'counter:bestTimeForLunch' %}" method="POST">
    {% csrf_token %}
    
    <label>Lunch Time Recommendation</label><br>
    <label>From</label>
    <select name="hr_start" id="hr_start">
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
    </select>
    <select name="min_start" id="min_start">
        <option>00</option>
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
    </select>
    <label>To</label>
    <select name="hr_end" id="hr_end">
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
    </select>
    <select name="min_end" id="min_end">
        <option>00</option>
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
    </select>
    
    <input class="btn btn-secondary" type="submit" value="OK">
    </form>
</div>
{% endblock %}
